@keyframes fly {
    0% {
        transform: translate(0vw, 0svh) rotate(0deg);
    }
    50% {
        transform: translate(-15vw, 10svh) rotate(10deg);
    }
    100% {
        transform: translate(0vw, 0svh) rotate(0deg);
    }
}

@media (max-width: 768px) {
    @keyframes fly {
        0% {
            transform: translate(0vw, 0svh) rotate(0deg);
        }
        50% {
            transform: translate(-8vw, 5svh) rotate(5deg);
        }
        100% {
            transform: translate(0vw, 0svh) rotate(0deg);
        }
    }
}

.flyingBee {
    width: fit-content;
    height: fit-content;
    margin: auto;
    animation: fly 14s reverse infinite;
}
