.button {
    font-family: "Permanent Marker";
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: white;

    padding: 1rem 2rem;

    background-color: black;
    border: 0px;
    border-radius: 20px;

    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
        color: rgb(255, 153, 0);
        scale: 1.05;
    }

    &:active {
        filter: brightness(0.7);
        transition-duration: 0.1s;
        scale: 0.95;
    }
}
