.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 6.25rem;
    height: 70svh;
    padding: 5svh 0rem;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;

    backdrop-filter: blur(0.625rem);
    background-color: rgba(0, 0, 0, 0.3);

    transition-duration: 0.3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        width: 7.5rem;
        a {
            scale: 1.05;
        }
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        color: white;
        transition-duration: 0.3s;

        &:hover {
            color: rgb(255, 153, 0);
            scale: 1.5;
        }

        &:active {
            filter: brightness(0.7);
            transition-duration: 0.1s;
            scale: 0.95;
        }

        svg {
            width: 32px;
            height: 32px;
        }
    }
}
